@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Rubik+Glitch+Pop&display=swap');
{
  /* border: 1px solid black; */
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #CDD5C6;
}

html {
  margin: 0px;
  padding: 0px;
}

nav{
  display: block;
  float: left;
  width: 20%;
  height: 100%;
  background: #FBF2ED;
  padding: 20px;
}

a, a:visited, a:active {
  text-decoration: none;
  letter-spacing: .2rem;
  font-family: 'Climate Crisis', sans-serif;
  color: #B7BCBF;
  text-align: left;
}

a:active {
  color: #FBF2ED;
}

a:hover {
  background-color: #FBF2ED;
}
.subheading{
  font-family: 'Climate Crisis', sans-serif;
  color: #FBF2ED;
  font-size: 32px;
  line-height: 4px;
  text-align: center;
}
.content{
  font-family: 'Climate Crisis', sans-serif;
  color: #FBF2ED;
  font-size: 28px;
}
.container {
  text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: repeat(3, 600px);
    width: 1200px;
    height: 1800px;
    }
    .rectangle {
      width: 400px;
      height: 600px;
    }

.navLink {
  margin: 0px;
}

.info{
  width: 75%;
  height: 100%;
  float: right;
}
.text{
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  color: slategrey;
  line-height: 32px;
}

.largeimage {
  background-image: url('https://static01.nyt.com/images/2022/11/27/opinion/25Greenley/25Greenley-superJumbo.jpg');
  height: 30%; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  padding: 38px;
}

.title {
  font-family: 'Rubik Glitch Pop', system-ui;
  color: #FBF2ED;
  letter-spacing: .2rem;
  display: inline-block;
  font-size: 84px;
  text-align: center;
  text-decoration: underline overline;
}

